.def-container {
  color: #fff;
  height: 90vh;
  /* padding: 3rem 3.75rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.def-title {
  font-size: 3.75rem;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}

.def-spelling {
  /* text-align: left; */
  font-size: 2rem;
  /* position: absolute; */
  /* top: 3rem; */
  /* right: 3.75rem; */
}

.def-subheading {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
}

.def-body {
  font-size: 1.5rem;
  line-height: 3rem;
}

.def-circle {
  height: 60%;
  /* mix-blend-mode: multiply; */
  position: absolute;
  top: 10vh;
  fill: #fcfcea;
  right: -10vw;
}

.def-shape2 {
  fill: #dc438b;
  height: 60%;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  right: -10vw;
}

.def-right {
  position: relative;
  height: 100%;
}

.text-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0rem 3rem 3.75rem;
}

@media screen and (max-width: 1100px) {
  .def-right {
    /* flex-direction: column; */
    display: none;
  }
  .text-wrapper {
    padding: 48px;
    width: 100%;
  }
}
